body {
  width: 100%;
  background-color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  color: rgb(58, 58, 58);
  letter-spacing: 0.08em;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: rgb(247, 247, 247);
  color: rgb(46, 46, 46);
}

.show_nav button {
  display: none;
  color: inherit;
}

.dropdown_content a {
  color: rgb(46, 46, 46);
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1em;
}

.dropdown_content a:hover {
  color: rgb(255, 145, 111);
  font-weight: bold;
}

@media (max-width: 600px) {
  .dropdown_content {
    display: none;
    z-index: 1;
  }
  .show_nav button {
    display: flex;
    border: none;
    background: inherit;
  }
  .show_nav:hover .dropdown_content {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .dropdown_content a {
    background-color: rgb(247, 247, 247);
    margin: 5px;
    padding: 3px;
  }
  .dropdown_content a:hover {
    color: rgb(255, 145, 111);
  }
}

#classroom {
  width: 100%;
}

#landing_container {
  width: 100%;
  height: 700px;
  color: rgb(58, 58, 58);
  background-color: rgb(255, 145, 111);
  margin-top: 60px;
  text-align: center;
}

#landing h1,
#landing h3 {
  letter-spacing: 0.08em;
}
#landing h1 {
  color: rgb(247, 247, 247);
  font-family: 'Cabin', sans-serif;
  font-size: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-transform: uppercase;
}

#landing_container h3 {
  padding-left: 1em;
  padding-right: 1em;
  color: rgb(58, 58, 58);
  font-size: 2em;
  font-family: 'Libre Franklin', sans-serif;
}
#landing_container div {
  margin-top: 2em;
}

#landing button {
  color: rgb(58, 58, 58);
  background-color: inherit;
  border: none;
}

#landing i {
  color: rgb(58, 58, 58);
}

#landing button:hover i {
  color: rgb(247, 247, 247);
}

@media (min-width: 700px) {
  #landing h3 {
    display: inline;
  }
  #landing h3:nth-last-child(3) {
    margin-right: 0px;
    padding-right: 0.1em;
  }
  #landing h3:nth-last-child(2) {
    margin-left: 0px;
    padding-left: 0.1em;
  }
}

@media (max-width: 700px) {
  #landing_container h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 600px) {
  #landing_container h1 {
    font-size: 3em;
  }
  #landing_container h3 {
    font-size: 2em;
  }
}

#about_container {
  width: 100%;
  display: flex;
  height: 700px;
}
.left_col,
.right_col {
  display: flex;
  flex-direction: column;
}
.right_col h1 {
  padding-top: 1em;
}
.right_col p {
  padding: 0.5em;
  margin: 1.5em;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.5em;
}
.left_col button {
  width: 6em;
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(39, 39, 39);
  padding: 0.5em;
  background-color: rgb(79, 179, 192);
  border-style: solid;
  border-color: rgb(247, 247, 247);
  border-width: 0.15em;
  border-radius: 10px;
}

.left_col button:hover {
  border-color: rgb(59, 168, 182);
  background-color: rgb(247, 247, 247);
}

#hidden_about,
.right_col div:first-child {
  background-color: rgb(59, 168, 182);
  text-align: center;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
}

.left_col div {
  background-color: rgb(58, 58, 58);
}

.left_col div:last-child {
  text-align: center;
}

.right_col div:last-child {
  background-color: rgb(247, 247, 247);
}

@media (min-width: 801px) {
  #hidden_about {
    display: none;
  }
  #profile_pic {
    width: 290px;
    height: 350px;
    margin-bottom: 0px;
  }
  .left_col,
  .right_col {
    padding-top: 60px;
  }
  .left_col {
    flex: 0 0 290px;
  }
  .right_col {
    flex: 1 1 500px;
  }
  .left_col div {
    width: 290px;
  }
  .left_col div:first-child {
    flex: 0 0 350px;
  }
  .left_col div:last-child {
    flex: 2 1 250px;
  }
  .right_col div:first-child {
    flex: 0 0 150px;
    font-size: 18px;
  }
  .right_col div:last-child {
    height: 350px;
    flex: 1 1 100px;
  }
}

@media (max-width: 800px) {
  #hidden_about {
    padding-top: 100px;
    padding-bottom: 40px;
    display: block;
    width: 100%;
    font-size: 28px;
  }
  #profile_pic {
    width: 217.5px;
    height: 262.5px;
    margin-top: 0px;
  }
  .left_col {
    width: 100%;
    flex: 0 0 217.5;
    align-items: center;
  }
  .right_col {
    flex: 1 1 auto;
    align-items: center;
  }
  .left_col div:last-child {
    text-align: center;
  }
  .right_col div:first-child {
    display: none;
  }
  .right_col div:last-child {
    flex: 1 1 auto;
  }
}

@media (max-width: 600px) {
  #hidden_about {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 22px;
  }
  #about_container {
    flex-direction: column;
  }
  #profile_pic {
    width: 133px;
    height: 167px;
    border-radius: 100px;
    margin-top: 1.15em;
  }
  .left_col button {
    width: 10em;
    margin-top: 0.9em;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.25em;
  }
  .left_col {
    height: 400px;
  }
}

@media (max-width: 320px) {
  .left_col {
    height: 470px;
  }
}

#contact {
  height: 700px;
  margin-top: 50px;
}
